*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family: Arial, sans-serif;
  background:#eef2f7;
  color:#333;
}

/* NAVBAR */

.navbar{
  background:#b8c9e8;
  width:100%;
  display:flex;
  justify-content:center;
  gap:50px;
  padding:25px;
  box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

.navbar a{
  text-decoration:none;
  color:#1d3557;
  font-size:20px;
  font-weight:bold;
  transition:0.3s;
}

.navbar a:hover{
  color:white;
}

/* PAGE CONTAINER */

.page-container{
  width:90%;
  max-width:1200px;
  margin:auto;
  padding:50px 20px;
  min-height:80vh;
}

/* HOME */

.home-container{
  display:flex;
  justify-content:center;
  align-items:center;
  min-height:70vh;
}

.home-card{
  background:white;
  width:1400px;
  max-width:95%;
  text-align:center;
  padding:60px;
  border-radius:25px;
  box-shadow:0 6px 25px rgba(0,0,0,0.1);
}

.home-card h1{
  font-size:60px;
  color:#5a67d8;
  margin-bottom:20px;
}

.home-card p{
  font-size:28px;
  line-height:1.7;
  margin-bottom:35px;
}

/* BUTTON */

button{
  background:#b8c9e8;
  border:none;
  padding:18px 30px;
  border-radius:12px;
  font-size:20px;
  cursor:pointer;
}

button:hover{
  background:#9db5df;
}

/* PAGE HEADINGS */

h1, h2{
  text-align:center;
  color:#5a67d8;
  margin-bottom:25px;
  font-size:50px;
}

/* CONTACT / EDUCATION / SKILLS */

.content-card{
  background:white;
  width:1400px;
  max-width:95%;
  margin:auto;
  padding:50px;
  border-radius:20px;
  box-shadow:0 6px 25px rgba(0,0,0,0.1);
  line-height:2;
  font-size:22px;
}

/* FOOTER */

footer{
  background:#b8c9e8;
  text-align:center;
  padding:25px;
  width:100%;
  font-size:18px;
}